<h1>Tennis</h1>

<h1><p align="center">Bienvenido Tenis Score</p></h1>
<br>
	<br>

	<p align="center"><img src="http://localhost:4567/__sinatra__/12.png" /></p>


<br>
	<br> 

<form action="/jugadores" method="post">
	<p align="center">
  <span class="label label-info">Jugador 1:</span>


	<input type="text" name="jugador1">
	</p>
	<p align="center">
  <span class="label label-info">Jugador 2:</span>


	<input type="text" name="jugador2">
	<br>
	<br>
	<input type="submit" value="Iniciar">
	</p>
</form>
